dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
AMPL/.stack-work
AMPLASM/.stack-work
AMPLC/.stack-work
AMPLASMOld/.stack-work
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
AMPL/logs/*
AMPLASM/examples/logs/*
